*{
    margin: 0;
    padding: 0;
}
.header{
    margin: 0;
    padding: 0;
    background-color: rgb(227, 25, 25);
}
.sp-saul{
    font-size: 20px;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
    word-spacing: 12px;
}
.bg {
    background-image: url(../img/login.jpg);
    background-position: center center;
}

.bg-idx{
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255));
}
/* li:hover{
    background-color: rgb(255, 175, 175);
    border-radius: 50px;
} */
.icono{
    color: rgb(0, 0, 0);
}
/* img{
    border-radius: 55px;
} */